//-------------- COLORS
$--color--gold: #c79c62;


// W H I T E
.whiteFill {
  fill: #fff;
}

.whiteColor {
  color: #fff;
}

.whiteBackground {
  background: #fff;
}

// B L A C K
.blackFill {
  fill: #000;
}

.blackColor {
  color: #000;
}

.blackBackground {
  background: #000;
}

// G R A Y
.grayFill {
  fill: #c4c4c4;
}

.grayColor {
  color: #c4c4c4;
}

.grayBackground {
  background: #c4c4c4;
}

// G O L D
.goldFill {
  fill: #c79c62;
}

.goldColor {
  color: #c79c62;
}

.goldBackground {
  background: #c79c62;
}
